<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#DBDBBE;">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-right energized" id="menu-list-item1" ui-sref="menu.home" menu-close="">Home
          <i class="icon ion-android-home"></i>
        </ion-item>
        <ion-item class="item-icon-right energized" id="menu-list-item2" ui-sref="menu.coneDeck12" menu-close="">Cone Deck 1 &amp; 2
          <i class="icon ion-android-car"></i>
          <ion-option-button class="button-positive">Hello</ion-option-button>
        </ion-item>
        <ion-item class="item-icon-right energized" id="menu-list-item5" ui-sref="menu.eastDeck2" menu-close="">East Deck 2
          <i class="icon ion-android-car"></i>
        </ion-item>
        <ion-item class="item-icon-right energized" id="menu-list-item6" ui-sref="menu.eastDeck3" menu-close="">East Deck 3
          <i class="icon ion-android-car"></i>

        </ion-item>
        <ion-item class="item-icon-right energized" id="menu-list-item3" ui-sref="menu.UnionDeck" menu-close="">Union Deck
          <i class="icon ion-android-car"></i>
        </ion-item>
        <ion-item class="item-icon-right energized" id="menu-list-item4" ui-sref="menu.westDeck" menu-close="">West Deck
          <i class="icon ion-android-car"></i>
        </ion-item>
        <ion-item class="item-icon-right energized" id="menu-list-item14" ui-sref="menu.parkingStatistics" menu-close="">Parking Statistics
          <i class="icon ion-stats-bars"></i>
        </ion-item>

        <ion-item class="item-icon-right energized" id="menu-list-item15" ui-sref="menu.maps" menu-close="">Map
          <i class="icon ion-map"></i>
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
