<ion-view title="Parking Statistics" hide-nav-bar="true" id="page8" style="background-color:#DBDBBE;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <a ui-sref="menu.home" id="parkingStatistics-button19" style="color:#DBDBBE;text-align:left;border-radius:5px 5px 5px 5px;" class="button button-light button-small button-block icon ion-android-arrow-back">Back</a>
    <ion-list id="parkingStatistics-list7">
      <ion-item class="energized" id="parkingStatistics-list-item19">Total Cars This Week: 8,434</ion-item>
      <ion-item class="energized" id="parkingStatistics-list-item20">Average Cars Per Day: 964</ion-item>
      <ion-item class="energized" id="parkingStatistics-list-item21">Utilization of Lots: 97%</ion-item>
    </ion-list>
  </ion-content>
</ion-view>